@model Ranking.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="text-align:center; font-size:xx-large; padding-bottom:20px;">
        <p><b>Resetowanie hasła</b></p>
    </div>
    @using (Html.BeginForm("ForgotPassword", "Account"))
    {
        @Html.AntiForgeryToken()
        <div id="login-error" style="color:red;">
            @Html.ValidationMessage("loginerror", "")
            @Html.ValidationSummary()
        </div>

        <div class="form-group">
            @Html.LabelFor(o => o.Password, "Hasło")
            @Html.PasswordFor(o => o.Password, new { @class = "form-control" })
            <div class="login-validation-message">
                @Html.ValidationMessageFor(o => o.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.ConfirmPassword, "Potwierdź nowe hasło")
            @Html.PasswordFor(o => o.ConfirmPassword, new { @class = "form-control" })
            <div class="login-validation-message">
                @Html.ValidationMessageFor(o => o.ConfirmPassword)
            </div>
        </div>

        <input type="submit" value="Ustaw nowe hasło" class="btn btn-default" style="height:40px;" />
    }
</div>
@section Scripts
{
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

